
/****** Global ******/

body {
	margin: 0;
	padding: 0;
	background: #000000;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.wrap {
	min-height: calc(100vh - 100px);
}

.pedalPageWrap {
	display: block;
}

.clear {	clear: both;}

a:hover, img.pedalList:hover, img.slide:hover {
	opacity: 0.5;
	transition-duration: 500ms;
}

.displayNone {
	display: none;
}

/****** Header ******/

.header {
	top: 0;
	min-height: 90px;
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom:2px solid  rgba(33,47,61,0.5);
}

.title {
	width: 160px;
	max-width: 30%;
	margin: 0 auto ;
	padding-top: 20px;
	opacity: 0.5;
}

.title-pedal {
	width: 400px;
	margin: 0 auto ;
	padding: 10px;
}

.title-small {
	width: 70px;
	margin: 10px 20px;
	float: left;
	opacity: 0.5;
}

#OnomoPedalHeader {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 24px;
	font-weight: bold;
	padding-top: 25px;
}

.title-PlayMode {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding-top: 25px;
	float: left;
}

.info {
	width: 50px;
	height: 50px;
	background: #FFFFFF;
	border-radius: 30px;
	float: right;
	margin: 20px 30px;
	opacity: 0.5;
	color: black;
}

.close {
	width: 30px;
	height: 30px;
	float: right;
	margin: 0;
	opacity: 1;
	cursor: pointer;
}

.close:hover {
	opacity: 0.5;
	transition-duration: 500ms;
}

.info:hover {
	opacity: 1;
	transition-duration: 500ms;
}

.header .info span {
	font-size: 24px;
	display: inline-block;
	margin-top: 8px;
	font-weight: bold;
}

#playModeHeader {
	width: max-content;
	margin: 10px auto;
	height: 75px;
	display: none;
}

.pedal-small {
	float: left;
	margin: 10px;
}

#pedalSmall {
width: 60px;
height: 50px;
}

/****** Right Side Panel ******/

.rightSPWrapper {
	height: 100vh;
	width: 280px;
	background: #838080;
	color: #000000;
	position: fixed;
	top: 0;
	padding: 30px;
	text-align: left;
	right: -360px;
	z-index: 9997;
	overflow-y: scroll;
	display: block;
}

.rightSPWrapper h1 {
	font-size: 24px;
	font-weight: 800;
	margin-top: 40px;
}

.rightSPWrapper hr {
	border: 1px solid #3f3f3f;
	margin: 40px 0 ;
}
.rightSPWrapper p:last-child {
	margin-bottom: 80px;
}

.rightSPWrapper p {
	line-height: 1.5em;
}

.rightSPWrapper p span {
	margin-left: 20px;
}

/****** Footer ******/

footer {
	height: 100px;
	width: 100%;
	position: fixed;
	bottom: 0;
}

.footerLogo {
	width: 200px;
	max-width: 30%;
	margin: 30px;
	opacity: 0.5;
}

/****** Main Page ******/

/* Three Pedals */

#pedalTable {
	min-width: 90%;
	max-width: 960px;
	margin: 10vh auto 0 auto;
	padding: 0;
}  
			
img.pedalList {
	margin: 0;
	display: inline-block;
	padding: 40px;
	width: 240px;
	cursor: pointer;
}

.pedal {
	margin: 0;
	padding: 0;
	z-index: 1000;
	visibility: hidden
}

/* Shuffle Button */

#randomDiv {
	margin: 80px 0;
	height: 100px;
	width: 100%;
	background: #FFFFFF;
	border: none;
	opacity: 0.7;
	text-align: center;
	position: relative;
}

#randomWrap {
	height: 40px;
	display: block;
	padding: 25px 0;
	width: 400px;
	margin: 0 auto;
}

#randombtn {
	width: auto;
	height: 50px;
}

#randomDiv {
cursor: pointer;
}

@keyframes colorShuffler {
	0%, 6% {background-color: #ef569f;}
	7%, 13% {background-color: #dfc669;}
	14%, 20% {background-color: #a3a3a5;}
	21%, 27% {background-color: #08c792;}
	28%, 34% {background-color: #3f3f3f;}
	35%, 41% {background-color: #036c9b;}
	42%, 49% {background-color: #b21f25;}
	50%, 57% {background-color: #9c8035;}
	58%, 65% {background-color: #55af2f;}
	66%, 73% {background-color: #838080;}
	74%, 81% {background-color: #2394a0;}
	82%, 90% {background-color: #d1d0d5;}
	91%, 100% {background-color: #e87e57;}
}

#randomDiv:hover {
	animation: colorShuffler 6s linear infinite;
}

#randomDiv:active {
	opacity: 1;
}

/****** Individual Pedal Page ******/

/** spinner **/
.loadingSpinner {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	margin: 40vh auto;
  }
  .loadingSpinner div {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
	animation: loadingSpinner 1.2s linear infinite;
  }
  .loadingSpinner div:nth-child(1) {
	top: 8px;
	left: 8px;
	animation-delay: 0s;
  }
  .loadingSpinner div:nth-child(2) {
	background-color: #DA2C5E;
	top: 8px;
	left: 32px;
	animation-delay: -0.4s;
  }
  .loadingSpinner div:nth-child(3) {
	top: 8px;
	left: 56px;
	animation-delay: -0.8s;
  }
  .loadingSpinner div:nth-child(4) {
	background-color: #DA2C5E;
	top: 32px;
	left: 8px;
	animation-delay: -0.4s;
  }
  .loadingSpinner div:nth-child(5) {
	top: 32px;
	left: 32px;
	animation-delay: -0.8s;
  }
  .loadingSpinner div:nth-child(6) {
	background-color: #DA2C5E;
	top: 32px;
	left: 56px;
	animation-delay: -1.2s;
  }
  .loadingSpinner div:nth-child(7) {
	top: 56px;
	left: 8px;
	animation-delay: -0.8s;
  }
  .loadingSpinner div:nth-child(8) {
	background-color: #DA2C5E;
	top: 56px;
	left: 32px;
	animation-delay: -1.2s;
  }
  .loadingSpinner div:nth-child(9) {
	top: 56px;
	left: 56px;
	animation-delay: -1.6s;
  }
  @keyframes loadingSpinner {
	0%, 100% {
	  opacity: 1;
	}
	50% {
	  opacity: 0.5;
	}
  }

  /** modal **/

#modalBG {
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100vh - 100px);
	z-index: 9999;
	display: none;
}

.modalContent {
	width: 500px;
	margin: 30vh auto;
	display: none;
}

.modalContent p {
	color: #d1d0d5;
}

.modalButton {
	height: 60px;
	width: auto;
	min-width: 100px;
	background: #DA2C5E;
	border: none;
	margin: 20px auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	border-radius: 10px;
}

#pedal {
	margin: 0 auto;
	padding: 0;
	margin-top: 60px;
	z-index: 1000;
	position: relative;
}

#onomoName {
	color: #838080;
	font-size: 18px;
}
#myCanvas{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: black;
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
}

#thePedal {
	width: 300px;
	height: 250px;
}


/* Action Buttons */

#actions {
	width: max-content ;
	max-width: 500px;
	height: 70px;
	margin: 30px auto;
	padding: 0;
	overflow: hidden;
}

#actions li {
	display: block;
	float: left;
	margin: 10px;
	background: #FFFFFF;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	cursor: pointer;
}

#actions li.actionBtn span, #showAll span, #pauseMobile span {
	display: none;
	font-size: 14px;
	font-weight: 800;
	position: relative;
	top: -13px;
	margin-right: 20px;
}

#actions li img, #showAll img, #pauseMobile img {
	width: 40px;
	height: 40px;
	margin-top: 5px;
}

li#playMode {
	display: none;
	width: 220px;
  float:none;
}

li#playMode span {
	font-size: 14px;
	font-weight: 800;
	position: relative;
	top: -13px;
	margin-right: 20px;
}

/* Onomonapia Description */

#onomoInfo {
	color: #838080;
	text-align: justify center;
	width: 400px;
	max-width: 90vw;
	font-size: 16px;
	line-height: 21px;
	margin: 0 auto 60px auto;
}

#onomoInfo span {
	font-weight: 800;
	margin-right: 10px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* List of other pedals */

#morePedals {
	display: block;
	background: rgba(33,47,61,0.5);
	width: 100%;
	margin-bottom: 20px;
	padding: 0;
}

#carouselWindow {
	height: auto;
	width: 80vw;
	display: inline-block;
	position: relative;
}

#carousel {
	width: calc(80vw - 100px);
	overflow: hidden;
	margin: 0 50px;
}

.slide{
	height: auto;
	width: auto;
	margin: 20px;
	cursor: pointer;
}

.arrows {
	display: inline-block;
	height: 100px;
	width: 17px;
	margin: 20px 0;
	position: absolute;
	bottom: 0;
	background-repeat: no-repeat;
}

.next {
	background-image: url('images/nextArrow.svg');
	opacity: 0.2;
	right: 0;
}

.prev {
	background-image: url('images/prevArrow.svg');
	opacity: 0.2;
	left: 0;
}

.next:hover, .prev:hover {
	opacity: 0.5;
	transition-duration: 100ms;
}

.transition {
  transition: .4s;
}

/* showAll Button */

#showAll, #pauseMobile {
	position: fixed;
	bottom: 20px;
	display: inline-block;
	background: #FFFFFF;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	visibility: hidden;
	z-index: 999;
}

#showAll {
	right: 30px;
}

#pauseMobile {
	left: 30px;
}

#mobileLogo {
	display: none;
	position: fixed;
	bottom: 16px;
	left: 50%;
  transform: translate(-50%, 0);
	height: max-content;
	margin: 0 auto;
}

#mobileLogo img {
	width: 160px;
}

/* tapping Keys on Mobile */

div#tapKeyWrap {
	display: none;
  grid-template-columns: auto auto auto;
	width: calc(100vw - 40px);
	height: calc(100vh - 240px);
	position: fixed;
	top: 0;
	left: 0;
	margin: 100px 20px 140px 20px;
	padding: 0;
	z-index: 9998;
}
div.tapKey {
	margin: 10px;
	border-radius: 20px;
	background: fuchsia;
	opacity: 0.3;
}

div.tapKey:active {
	opacity: 0.8;
	transition-duration: 200ms;
}